
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    
    <meta name="viewport" content="width=device-width" />
    <title>Home</title>
    <style>

        body {
        font-family: Arial, Helvetica, sans-serif;
        color: #C5C6C7;
        background-color: #0B0C10;
        }

        header {
            background-color: #1F2833;
            padding: 30px;
            text-align: center;
            font-size: 35px;
            color: #66FCF1;
        }

        h1 {
        text-align: center;
        }
       
        /* Style the footer */
        footer {
            background-color: #1F2833;
            padding: 10px;
            text-align: center;
            color: #45A29E;
        }
    </style>
</head>
<body>
  
    <header>

        Welcome to the Bookstore <br><a href="Login.html">Login</a> | <a href="Register.html">Register</a> |<br>
        <center>Books | Checkout</center>
    </header>

    <h1>About</h1>
    <p>
            This site is to read books for free. There will be a subscription portion coming soon possibly.
        The purpose is that reading gains knowledge and with knowledge the world will grow with creativity and be more motivated.
    </p>


    <h1>New to the Site</h1>
    <p>
            If you are new to the site please make your way to the Registration page. It will ask you for a few personal information to help create your account.
        If you already have an account just proceed to the login page. After that you can start browsing and picking your favorite titles. If the book you want is not there it might be there in the future.
    </p>
    

    <h1>Contact</h1>
    <p>
            If there are any issues with the site. Please go ahead and reach out to us on our social media listed on the bottom of the page. We use your stories to better the web site.

        Thank You for your support.

        -GCU Team

    </p>
    















    <footer>
        Follow us on Social Media | &copy; since 2020 | Published in GCU
    </footer>
</body>
</html>
