<?xml version="1.0"?>
	<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         	xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         	version="3.1">

		<display-name>Spring MVC Application</display-name>
		<!-- Spring Dispatch Servlet and Mapping-->
		<servlet>
			<servlet-name>SpringWeb</servlet-name>
			<servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>/WEB-INF/applicationConfiguration.xml</param-value>
			</init-param>
			<load-on-startup>1</load-on-startup>
		</servlet>
		<servlet>
			<description>
			</description>
			<display-name>BaseController</display-name>
			<servlet-name>BaseController</servlet-name>
			<servlet-class>com.gcu.BaseController</servlet-class>
		</servlet>
		<servlet-mapping>
			<servlet-name>SpringWeb</servlet-name>
			<url-pattern>/</url-pattern>
		</servlet-mapping>
		<servlet-mapping>
			<servlet-name>BaseController</servlet-name>
			<url-pattern>/BaseController</url-pattern>
		</servlet-mapping>
		<context-param>
			<param-name>contextConfigLocation</param-name>
			<param-value>/WEB-INF/applicationConfiguration.xml</param-value>
		</context-param>
		<listener>
			<listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
		</listener>
	</web-app>