@charset "ISO-8859-1";


html {
	font-family: Arial, sans-serif;
}

#nav-pills {
	width: 500px;
	display: flex;
}

#nav-pills input {
	border: 1px solid black;
	padding: 1rem;
	background-color: transparent;
}

#nav-pills input:hover {
	background-color: #bdb6b5;
	-webkit-box-shadow: 9px 3px 16px -8px rgba(0,0,0,0.39);
	-moz-box-shadow: 9px 3px 16px -8px rgba(0,0,0,0.39);
	box-shadow: 9px 3px 16px -8px rgba(0,0,0,0.39);
	color: white;
}

/*Field styling*/
.input {
	
	background-color: #000000;
	border: none;
  	color: white;
  	margin: 8px 8px;
	padding: 15px 20px;
	width: 250px;
}

.input:hover {
background-color: #808080;
}

.input:focus {
  background-color: #2d2d2d;
}

.button {
	
	background-color: #000000; /* Black */
	border: none;
	color: white;
	font-size: 24px;
	margin: 8px 0;
	padding: 10px 40px;
	text-align: center;
	transition-duration: 0.4s;
	width: 290px
}

.button:hover {
	
	background-color: #ffffff; /* White */
	color: black;
}

.header{
	text-align: center;
}

.footer{
	position: fixed;
	bottom: 0;
	width: 100%;
	text-align: center;
}

.formWrapper {
	text-align: center;
}

.regBlock {
	display: flex; 
	justify-content: space-between; 
	width: 600px; 
	margin: auto;
}

.regBlock label{
	float: left;
	margin: 8px 0px;
	padding: 15px 20px;
}